<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/regularnavbar.ejs') %>
<div class="container">
    <hr>
    <h2>Categorias</h2>
    <a class="btn btn-success" href="/regularusers/categories/new">Criar nova categoria</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Título</th>
                <th>Slug</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% regularcategories.forEach(regularcategory => { %>
                <tr>
                    <th><%= regularcategory.id %></th>
                    <th><%= regularcategory.title %></th>
                    <th><%= regularcategory.slug %></th>
                    <th>
                        <a href="/regularusers/categories/edit/<%= regularcategory.id %>" class="btn btn-warning">Editar</a>
                        
                        <form method="POST" action="/regularcategories/delete" style="display: inline;" onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= regularcategory.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    
                    </th>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>
<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm("Você quer deletar esta categoria?");
        if(decision){
            form.submit();
        }
    }
</script>