<%- include ('partials/header.ejs') %>
<%- include ('partials/homenavbar.ejs') %>
<body>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead"><strong>O Pet Detective é uma plataforma online dedicada a conectar proprietários de animais
                de estimação perdidos com pessoas que possam ter avistado ou encontrado esses
                animais. Funciona como uma espécie de "rede de detetives de estimação", onde a
                comunidade se une para ajudar a localizar animais desaparecidos.</strong></p>
          </div>
        <hr>
        
        <% articles.forEach(article => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= article.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= article.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>

        <% regulararticles.forEach(regulararticle => { %>
            <div class="card">
                <div class="card-header">
                    <h2><%= regulararticle.title %></h2>
                </div>
                <div class="card-body">
                    <a href="/<%= regulararticle.slug %>" class="btn btn-success">Ler artigo</a>
                </div>
            </div>
            <br>
        <% }) %>


        <div class="row">
            <div class="col col-12">
                <a style="float:right" href="/articles/page/2">Next >>></a>
            </div>
            <hr>
        </div>
        <hr>
    </div>

</body>

<%- include ('partials/footer.ejs') %>
