<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/regularnavbar.ejs') %>

<div class="container">
    <hr>
    <div class="card"> 
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/regulararticles/update">
                <input type="hidden" value="<%= regulararticle.id %>" name="id">
                <input class="form-control" type="text" name="title" placeholder="Defina o título do artigo" value="<%= regulararticle.title %>"><br>
                <textarea class="form-control" placeholder="Escreva o artigo aqui!" name="body" id="regulararticle"></textarea><br>
                <label>Categoria</label>
                <select name="category" class="form-control">
                    <% regularcategories.forEach((regularcategory) => { %>
                        <% if(regularcategory.id == regulararticle.regularcategoryId) { %> 
                            <option value="<%= regularcategory.id %>" selected><%= regularcategory.title %></option>
                        <% } else { %>
                            <option value="<%= regularcategory.id %>"><%= regularcategory.title %></option>
                        <% } %>   
                    <% }) %>
                </select>
                <br>
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <%- regulararticle.body %>
</div>



<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        language: 'pt_BR',
        selector: "#regulararticle",
        activeEditor: true,
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
        ],
        init_instance_callback: () => {
            tinymce.get("regulararticle").setContent($("#content").html())
        }
    })

</script>