<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
        <hr>
        <h2>Usuários comuns</h2>
        <hr>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <% regularusers.forEach(regularuser => { %>
                    <tr>
                        <td><%= regularuser.id %></td>
                        <td><%= regularuser.email %></td>
                    <td>
                        
                        <form method="POST" action="/regularusers/regulardelete" style="display: inline;"
                            onsubmit="confirmarDelecao(event, this)">
                            <input type="hidden" name="id" value="<%= regularuser.id %>">
                            <button class="btn btn-danger">Deletar</button>
                        </form>
                    </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
</div>

<%- include ('../../partials/footer.ejs') %>

<script>
    function confirmarDelecao(event, form) {
        event.preventDefault();
        var decision = confirm("Você quer deletar este usuário?");
        if (decision) {
            form.submit();
        }
    }
</script>